@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");


body{
background-color: rgb(53, 42, 63);
font-family: "Host Grotesk", sans-serif;
}
#sideNavIco{
  padding: 30px;
  scale: 2;
  cursor: pointer;
  color: white;
}
#sideNavTxt{
  font-size: 24px;
}
#profileIco{
  padding: 30px;
  scale: 2;
  cursor: pointer;
  color: white;
}
.menu{
  display: flex;
  justify-content: space-between;
}
.sideNav {
  display: grid;
  background-color: rgb(70, 52, 99);
  width: 15%;
  height: 85vh;
  gap: 10px;
  margin-left: -400px; 
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  text-align: center;
  color: white;
  transition: margin-left 0.5s ease;
  border-radius: 25px;
}

.open {
  margin-left: 0; 
  display: grid;
  background-color: rgb(70, 52, 99);
  width: 15%;
  height: 85vh;
  gap: 10px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  text-align: center;
  color: white;
  transition: margin-left 0.5s ease;
  border-radius: 25px;
}
#gamepadIco{
  scale: 3;
}
.games{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 20%;
}
.gameimg{
  width: 100px;
  border-radius: 10px;
}
.gameCard{
  display: grid;
  grid-template-columns: auto 2fr;
  width: 200px;
  transition: 0.3s;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(88, 63, 116);
}
.gameCard:hover{
  transition: 0.3s ease;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(127, 67, 190);
  color: white;
}
.gametxt{
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}