body{
background-color: rgb(53, 42, 63);
}
#sideNavIco{
  padding: 30px;
  scale: 2;
  cursor: pointer;
}
.sideNav{
  display: grid;
  background-color: rgb(70, 52, 99);
  width: 15%;
  gap: 10px;
  margin-left: -10px;
  align-items: center;
  justify-content: center;
  grid-template-columns:  1fr;
  text-align: center;
  height: 100hv;
  color: white;
  transition: left 0.5s ease;
}
.open{
transform: translateX(-250px);
transition: left 0.5s ease;
}
#gamepadIco{
  scale: 3;
}
.games{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 20%;
}
.gameimg{
  width: 100px;
  border-radius: 10px;
}
.gameCard{
  display: grid;
  grid-template-columns: auto 2fr;
  width: 200px;
  transition: 0.3s;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  
}
.gameCard:hover{
  transition: 0.3s;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(108, 67, 152);
  color: white;
}
.gametxt{
  font-size: 20px;
  text-align: center;
  
  margin-top: 50px;
}